In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("C:/Users/Sarthak Srivastava/Application of ML in Industry/Data/ws.csv",names=['sky','Temp','Humidity','Wind','Water','Forecast','Enjoy Sport'])
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [3]:
hypo = np.zeros(6)
hypo

array([0., 0., 0., 0., 0., 0.])

In [4]:
def train(c,t):
    #c - attributes, t = target
    for i, val in enumerate(t):
        if val == 'Yes':
            specific_hypothesis = c[i].copy()
            break
    
    for i,val in enumerate(c):
        if t[i] == 'Yes':
            for x in range (len(specific_hypothesis)):
                if val[x] != specific_hypothesis[x]:
                    specific_hypothesis[x] = '?'
                else:
                    pass
    return specific_hypothesis

In [5]:
data_target = np.array(data)[:,-1]
data_target

array(['Yes', 'Yes', 'No', 'Yes'], dtype=object)

In [6]:
data_attributes = np.array(data)[:,:-1]
data_attributes

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same'],
       ['Rainy', 'Cold', 'High', 'Strong', 'Warm', 'Change'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change']],
      dtype=object)

In [7]:
data

     sky  Temp Humidity    Wind Water Forecast Enjoy Sport
0  Sunny  Warm   Normal  Strong  Warm     Same         Yes
1  Sunny  Warm     High  Strong  Warm     Same         Yes
2  Rainy  Cold     High  Strong  Warm   Change          No
3  Sunny  Warm     High  Strong  Cool   Change         Yes

In [8]:
print(f'The final hypothesis is - {train(data_attributes,data_target)}')

The final hypothesis is - ['Sunny' 'Warm' '?' 'Strong' '?' '?']